@import "main_stile.css";

.player {
    padding: 0;
    height: 100%;
    height: 100%;
}

.player-img {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    height: 66%;
    min-width: 96%;

    border-radius: 4%;
    background-color: var(--main-dark-gray);
}

.player-body {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    width: 96%;
    height:20%;
    background-color: var(--main-dark-gray);
    border-radius: 1%;
}

.player-btn-group {
    display: flex;
    flex-flow: row wrap;
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.track-info {
    color: gold;
}

.button
{
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color:black;
    border-radius: 6px;
    cursor: pointer;
}